.nombre{
color: rgb(255, 255, 255);
bottom: 1830px;
position: relative;
    font-family: roboto italic, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
left: 650px;
z-index: 3000;
font-size: 50px;



}