
.cuadrado1 {

    width: 1900px;
    height: 200px;
    position: relative;
    background-color: rgb(0, 0, 0);
    bottom: 500px;
    z-index: 30;
    left: 65px;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 2px solid orangered;
    border-right: orangered 2px solid;
      border-radius: 10px;

      outline: 4px solid rgb(255, 255, 255);
} 

.cuadrado2 {

    width: 401px;
    height: 600px;
    position: relative;
    background-color: rgb(68, 68, 68);
    bottom: 616px;
    z-index: 3;
    left: 61px;

    flex-wrap: wrap;
    justify-content: center;
     border: 4px solid #ffffff;
   

    
}


.texto2 {

    position: relative;
    left: 20px;
    top: -20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}




