.linea1 {

    width: 200px;
    height: 2px;

    position: relative;
    
    top: 130px;
    left: 50px;
background-color: rgb(138, 17, 17);
    animation: linea1 0.8s linear alternate;
 
  
    

}
.linea11 {

    width: 200px;
    height: 2px;

    position: relative;
    
    top: 130px;
    left: 50px;
background-color: rgb(255, 255, 255);
    animation: linea1 0.8s linear alternate;
 
  
    

}

@keyframes linea1 {




    0% {
        transform: translateX(80px);
        opacity: 0;
    }

    50% {

        opacity: 1;

    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


.linea2 {

    width: 1800px;
    height: 2px;

    position: relative;
    background-color: rgb(255, 174, 0);
    top: 10px;
    left: 0px;



}


.linea3 {

    width: 2px;
    height: 185px;

    position: relative;
    background-color: rgb(255, 255, 255);
    top: 10px;
    left: 403px;

    animation: linea3 0.8s linear alternate;


}

@keyframes linea3 {

    0% {
        transform: translateX(5px);
        opacity: 0;
    }




    50% {

        opacity: 1;

    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.linea4 {

    width: 400px;
    height: 2px;

    position: relative;
    background-color: rgb(255, 255, 255);
    top: 70px;
    left: 1px;

   

}




.linea5 {

   width: 400px;
    height: 2px;

    position: relative;
    background-color: rgb(255, 255, 255);
    top: 102px;
    left: 1px;

    
}




.linea6 {

    width: 400px;
    height: 2px;

    position: relative;
    background-color: rgb(255, 255, 255);
    top: 132px;
   left: 1px;

    

}



.linea7 {

    width: 400px;
    height: 2px;

    position: relative;
    background-color: rgb(255, 255, 255);
    top: 164px;
     left: 1px;

   

}




.linea8 {

     width: 400px;
    height: 2px;

    position: relative;
    background-color: rgb(255, 255, 255);
    top: 196px;
     left: 1px;

  
}



.linea9 {

    width: 400px;
    height: 2px;

    position: relative;
    background-color: rgb(255, 255, 255);
    top: 228px;
   left: 1px;

   

}



