.titulo {

    color: white;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    width: 500px;
    height: 600px;
    left: 115px;
    top: 190px;

    z-index: 50;
    flex-wrap: wrap;
}