.triangulo1 {

    width: 1px;
    height: 1px;
    position: relative;

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid rgb(0, 0, 0);
    z-index: 100;
    bottom: 1035px;
    left: 420px;
    cursor: pointer;
    transform: rotate(180deg);
    pointer-events: auto;
    transition: all 0.2s ease;
}



.triangulo2 {

    width: 1px;
    height: 1px;
    position: relative;

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid rgb(0, 0, 0);
    z-index: 100;
    bottom: 1016px;
    left: 420px;
    cursor: pointer;
    transform: rotate(180deg);
    pointer-events: auto;
    transition: all 0.2s ease;
}


.triangulo3 {

    width: 1px;
    height: 1px;
    position: relative;

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid rgb(0, 0, 0);
    z-index: 100;
    bottom: 997px;
    left: 420px;
    cursor: pointer;
    transform: rotate(180deg);
    pointer-events: auto;
    transition: all 0.2s ease;
}


.triangulo4 {

    width: 1px;
    height: 1px;
    position: relative;

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid rgb(0, 0, 0);
    z-index: 100;
    bottom: 977px;
    left: 420px;
    cursor: pointer;
    transform: rotate(180deg);
    pointer-events: auto;
    transition: all 0.2s ease;
}



.triangulo5{

    width: 1px;
    height: 1px;
    position: relative;

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 14px solid rgb(0, 0, 0);
    z-index: 100;
    bottom: 955px;
    left: 420px;
    cursor: pointer;
    transform: rotate(180deg);
    pointer-events: auto;
    transition: all 0.2s ease;
}

